<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <style>
      .container {
            width: 450px;
            margin: 50px auto;
            text-align: center;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
            padding:10px;
            background-color: #f2f2f2;
        }

        .container h3 {
            font-size: 28px;
            font-weight: bold;
            margin-bottom: 30px;
        }

       .form-label {
            font-size: 18px;
            font-weight: bold;
        }

    </style>
    <title><%= title %></title>
  </head>
  <body>

    <!-- PARTIAL FOR HEADER -->
    <%- include('_header') %>

    <% if (locals.user) {%>
      
      <div class="container mt-4 col-md-4">
      
        <h3>Add student</h3>
    
      <form class="row g-3 mt-1 border border-dark rounded p-2" 
       style="--bs-border-opacity: 0.5" action="/student/create" method="POST">
    
        <div class="col-12">
          <label for="name" class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter student name"
            id="name"
            name="name"
            required
          />
        </div>
    
        <div class="col-12">
          <label for="email" class="form-label">Email</label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter student email"
            id="email"
            name="email"
            required
          />
        </div>
    
        <div class="col-12">
          <label for="college" class="form-label">college</label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter student college"
            id="college"
            name="college"
            required
          />
        </div>
    
        <div class="col-md-6">
            <label for="placement-status" class="form-label">Placement status</label>
            <select id="placement-status" class="form-select" required name="placementStatus">
                <option selected>Not placed</option>
                <option>Placed</option>
            </select>
        </div>
    
        <div class="col-md-6">
            <label for="batch" class="form-label">Batch</label>
            <input type="text" class="form-control" id="batch" placeholder="Enter batch (e.g. JAN'22) " name="batch" required/>
        </div>
    
        <div class="col-md-4">
          <label for="dsa-score" class="form-label">DSA score</label>
          <input type="number" class="form-control" id="dsa-score" name="dsa_score" required/>
        </div>
    
        
        <div class="col-md-4">
          <label for="webdev-score" class="form-label">WebDev score</label>
          <input type="number" class="form-control" id="webdev-score" name="webdev_score" required/>
        </div>
    
        
        <div class="col-md-4">
          <label for="react-score" class="form-label">React score</label>
          <input type="number" class="form-control" id="react-score" name="react_score" required/>
        </div>    
        
        <div class="col-12 ">
          <button type="submit" class="btn btn-dark">Add Student</button>
        </div>
    
      </form>
    </div>
    </div>
    
    <%} %>
  </body>
</html>
